{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="An interactive online platform for E2 database query visualization">
  <meta name="author" content="Tianqin Li">
  <meta name="keywords" content="E2 gene visualization, bioinformatics, breast cancer">

  <title>FlappyBird</title>
  <!-- <link rel="icon" href="{% static 'base/img/logo.png' %}"> -->

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
  <link href="{% static 'base/css/agency.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/circCirc.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/select.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/tipso.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/manual.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/download.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/loading.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/mainpage.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/landing.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/stats.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
        FlappyBird
      </a>
      <button class="navbar-toggler navbar-toggler-right" role="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
       
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'category1' %}">Category 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'category2' %}">Category 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'category3' %}">Category 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'upload' %}">Submit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}"><i class="fa fa-sign-in nav-icon"></i></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer>
    
    <hr style="width:75%;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'base/img/cmu_scs_logo.gif' %}" width="10%">
          <img src="{% static 'base/img/151-1515387_tap-bird-flappy-bird-tap-tweety-flappy-bird.png' %}" width="10%">

        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="mailto:tianqinl@cs.cmu.edu">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              
                <a href="">
                  <i class="fab fa-github"></i>
                </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
        
          
	  <span>Carnegie Mellon University</span>
	  <p>Pittsburgh, 15213</p>

        </div>
      </div>
    </div>
  </footer>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'base/js/jquery.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'base/js/jquery.easing.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'base/js/agency.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>


  {% block otherJS %} {% endblock %}
  {% block upload-script %} {% endblock %}

</body>


</html>
