{% extends "base.html" %}
{% load static %}
{% block content %}   
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        
        
        <div style="display: flex;">
          <div class="padding:20px"></div>
          <div class="intro-heading">To Flap Or Not To Flap?</div>
          
        </div>
        <div style="display: flex;">
          <div class="padding:20px"></div>
          <div class="intro-subtitle">CMU 15-386/686 Spring 2022 - Leader Board</div>
        </div>
        
        <div style="display: flex;">
          <div class="padding:20px"></div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/tools/user/">Log In {{category}}</a>
          
        </div>
        
        
        
        <!--<p class="down animated fadeIn infinite copyright">What is circDraw?</p>-->
      
      </div>
    </div>
  </header>  
  

  {% endblock %}

